In [5]:
import pandas as pd
import numpy as np

In [23]:
data = {
    "a": 1.0,
    "b": 20.0,
}

In [26]:
df = pd.DataFrame(data, index=pd.Index([20], name="epoch", dtype=int))

In [27]:
df

         a     b
epoch
20     1.0  20.0

In [30]:
df.to_csv("my_csv.csv", mode="a", header)

In [32]:
dict({1: 2},{3: 4})

TypeError: dict expected at most 1 argument, got 2